* {margin: 0; padding: 0; list-style: none;}
body {
    background-image: url('img/bg.png');
}

.title {
    padding: 25px;
    text-align: center;
    box-sizing: border-box;
}

.menu {
    background-color: black;
    text-align: center;
    box-sizing: border-box;
}
.menu ul li {display: inline;}
.menu ul li a {
    display: inline-block;
    background-color: black;
    width: 80px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.menu ul li a:hover {
    background-color: steelblue;
}

/* .side {
    position: fixed;
    z-index: 5;
} */

/* section {
    text-align: center;
} */

.list {
    background-color: white;
}
.list ul {
    overflow: hidden;
    margin: 0 auto;
    width: 1000px;
}
.list ul li {
    float: left;
    width: 25.000%;
    text-align: center;
    margin: 40px 0px;
}

section {
    position: relative;
    margin: 0 auto;
    width: 1200px;
}
section .left {
    position: absolute;
    top: 0;
    left: 0;
}
section .right{
    position: absolute;
    top: 0;
    right: 0;
}
section .content {
    text-align: center;
}

.button {
    position: fixed;
    top: 0;
    right: 0;
    background-color: red;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    text-align: center;
}